# Intellij
.idea/
.idea
*.iml
*.iws
*.jar
db/target/
# Mac
.DS_Store

# Maven
log/
target/
admin-dashboard/resources/static
admin-dashboard/src/main/resources/static
.gradle

# Temporary files for tests
*.log
*.lock
